* {
  box-sizing: border-box;
}

html {
  --space-sm: 15px;
  --space-md: 20px;

  --color-base: #f4f4f4;
  --color-contrast-sm: white;
  --color-contrast-md: #ddd;
  --color-contrast-lg: black;
  --color-pop: blue;
}

html.dark {
  --color-base: black;
  --color-contrast-sm: #424242;
  --color-contrast-md: #ddd;
  --color-contrast-lg: white;
  --color-pop: indianred;
}

body {
  display: flex;
  margin: var(--space-md);
  align-items: start;
  justify-content: space-between;
  font-family: 'Space Mono';
  /* font-family: 'Montserrat'; */
  font-size: 14px;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  background: var(--color-base);
  color: var(--color-contrast-lg);
}

.description {
  max-width: 250px;
  margin-right: var(--space-md);
}

h1 {
  /* font-weight: bold; */
  font-size: 30px;
  margin-top: 0px;
  color: var(--color-pop);
}

canvas {
  border: var(--space-md) solid var(--color-pop);
  background-size: cover;
  background-position: center center;
}

.config {
  margin-left: var(--space-md);
}

section {
  margin-bottom: var(--space-md);
}

a { color: var(--color-pop); }
