* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Space Mono';
  font-size: 13px;
  line-height: 17px;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: 'Space Mono';
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

canvas {
  border: 1px solid black;
  background-size: cover;
  background-position: center center;
}

.form {
  padding-left: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: scroll;
  -webkit-column-width: 280px; /* Chrome, Safari, Opera */
  -moz-column-width: 280px; /* Firefox */
  column-width: 280px;
}

section {
  margin-bottom: 15px;
}
