* {
  box-sizing: border-box;
}

body {
  display: flex;
  /* height: 100vh; */
  margin: 20px;
  align-items: start;
  justify-content: space-between;
  /* position: relative; */
  font-family: 'Space Mono';
  font-size: 12px;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  background: white;
  color: black;
}

.context {
  max-width: 250px;
  margin-right: 20px;
}

h1 {
  /* font-family: 'Space Mono'; */
  font-weight: normal;
  font-size: 30px;
  /* line-height: 0px; */
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
}

canvas {
  /* border: 2px solid #5ED529; */
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 4px 6px grey;
}

.config {
  margin-left: 20px;
  /* padding-left: 20px; */
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  /* height: 100vh; */
  /* overflow: scroll; */
}

section {
  margin-bottom: 15px;
}

 a:link {
  color: #5ED529;
}

a:visited {
  color: #5ED529;
}

a:hover {
  color: #5ED529;
}

a:active {
  color: #5ED529;
} 